---
layout: index
---

{% include headerbit.html %}
		{% for post in site.posts %}
		<div class="playlists" id="list-{{post.id}}">
			<h2 id="list-{{post.id}}">
				{{post.title}} published on <span>{{post.list_date}}</span>
				<!-- <small>Posted on <span>{{post.list_date}}</span>; {% for a in post.playlists %}{{forloop.length}}{% break %}{% endfor %} playlists added.</small> -->
			</h2>
			{% for a in post.playlists %}
			<div class="plst">
				<a href="{{a.url}}" target="_blank">
					<div class="img">
						{% if a.img %}
						<img src="{{a.img}}" />
						{% else %}
						<img src="images/vinyls.jpg" />
						{% endif %}
					</div>
					<div class="dets">
						<h2>{{a.title}}</h2>
						<p>Curated by <strong>{{a.name}}</strong> on {{a.src}}.</p>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
{% include footerbit.html %}