		<footer>
			<h4>
				<a href="https://www.tradesy.com/?ref=tunes_by_tradesy" target="_blank">Tunes by Tradesy</a>&nbsp;&nbsp;{{site.site_desc}}
			</h4>
			<h5>
				Designed / built by <a href="http://twitter.com/jefffis" target="_blank">Jefff</a>.
			</h5>
		</footer>
		<script>
			function SetCookie(cookieName,cookieValue) {
				document.cookie = cookieName+"="+escape(cookieValue)
				+ ";expires=Sun, 17 Jan 2038 19:14:07 GMT; path=/";
			}
			function getCookie(k){var v=document.cookie.match('(^|;) ?'+k+'=([^;]*)(;|$)');return v?v[2]:null}
			var links = document.querySelectorAll('.plst a'),
				links_tote = links.length;
			for(var i = 0; i < links_tote; i++){
				if(getCookie('no-rick')){
					alert();
				}
				links[i].setAttribute('href','https://www.youtube.com/watch?v=dQw4w9WgXcQ&noredirect=1');
			}
			links.onclick = function(){
				SetCookie('no-rick',1);
			}
		</script>
	</body>
</html>