<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title dir="ltr">{{site.site_title}}</title>
        <meta name="description" content="{{site.site_desc}}" />
        <style>{% include plylst.min.css %}</style>
        <script>document.addEventListener('touchstart', function() {},false);</script>
        <meta name="apple-mobile-web-app-title" content="{{site.site_title}}" />
        <link rel="apple-touch-icon-precomposed" href="images/logo-b.png" />
        <link rel="shortcut icon" href="images/favicon.png" />
    </head>
    <body>
        <div id="notification" class="hide">
            <span class="tag">NEW</span>
            Search by tag. Hit the <code>esc</code> key or swipe left (on mobile) to begin.
            <span class="cls" id="note-cls"></span>
        </div>
        <header>
            <!-- <img src="images/gem-white.png" alt="Tradesy: buy &amp; sell clothes online" />
            <h1>{{site.site_title}}</h1>
            <small>{{site.site_desc}}</small> -->
            <a href="/">
                <img src="images/logo.png" class="logo" />
            </a>
            {% for post in site.posts %}
            <small>
                <a href="#list-{{post.id}}">{{post.id}}</a>
            </small>
            {% endfor %}
            <!-- <img src="images/header.jpg" /> -->
        </header>