<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title dir="ltr">{{site.site_title}}</title>
        <link href="stylesheets/plylst.min.css" rel="stylesheet" type="text/css" />
        <script>document.addEventListener('touchstart', function() {},false);</script>
    </head>
    <body>
        <header>
            <!-- <img src="images/gem-white.png" alt="Tradesy: buy &amp; sell clothes online" />
            <h1>{{site.site_title}}</h1>
            <small>{{site.site_desc}}</small> -->
            <a href="/">
                <img src="images/logo.png" class="logo" />
            </a>
            {% for post in site.posts %}
            <small>
                <a href="#list-{{post.id}}">{{post.title}}</a>
            </small>
            {% endfor %}
            <!-- <img src="images/header.jpg" /> -->
        </header>