header {
	background: #040407 url(../images/pattern.jpg) repeat-x;
	margin-bottom: 2em;
	padding: 2em;
	text-align: center;
	img {
		display: block;
		margin: auto auto 1em;
		max-width: 50px;
	}
	h1 {
		color: #fff;
		letter-spacing: 2.5px;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
	}
	small {
		color: rgba(255,255,255,0.5);
	}
}