header {
	background: #040407;
	margin-bottom: 2em;
	padding: 2em;
	text-align: center;
}
// header:after {
// 	content: "";
// 	background: #ccc;
// 	display: block;
// 	height: 3px;
// 	margin: 2em auto;
// 	opacity: .5;
// 	width: 100px;
// }
header img {
	display: block;
	margin: auto auto 1em;
	max-width: 50px;
}
header small {
	opacity: .5;
}
h1 {
	color: #fff;
	letter-spacing: 2.5px;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}