.playlists {
	// margin: 1em auto 0;
	// max-width: 1100px;
	// padding: 0 2em 2em;
	text-align: center;
}
.playlists > h2 {
	text-transform: uppercase;
}
.playlists > h2 small {
	display: block;
	font-size: .85rem;
	padding-top: 1rem;
	text-transform: none;
}
.playlists span {
	color: #ee7873;
}
.playlist {
	display: inline-block;
	padding: 1em;
	position: relative;
	width: 275px;
	margin-left: auto;
	margin-right: auto;
}
.playlist > div, .playlist a {
	background: #040407;
	// box-shadow: 0 0 0 2px #040407;
	// border-radius: 2px;
	display: table;
	height: 250px;
	width: 100%;
}
.playlist a {
	// background: #7dccad;
	border: 0;
	// border-radius: 2px;
	box-shadow: none;
	color: #040407;
	display: table-cell;
	overflow: hidden;
	padding: 2em;
	position: relative;
	/*transition: all .125s ease-in-out;*/
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	z-index: 3;
}
.playlist:after {
	content: "";
	background: rgba(0,0,0,0.125);
	border-radius: 100%;
	display: block;
	height: 3px;
	margin: -1em 7% 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 86%;
	z-index: 2;
}
// .playlist:before {
// 	content: "";
// 	background: url(../images/lp.jpg) no-repeat;
// 	background-size: contain;
// 	border-radius: 100%;
// 	display: block;
// 	height: 230px;
// 	overflow: hidden;
// 	position: absolute;
// 	bottom: 20px;
// 	right: -5px;
// 	transition: right .15s ease-in-out;
// 	width: 230px;
// 	z-index: 1;
// }
.playlist h2 {
	display: inline-block;
	line-height: 1;
	margin: 0;
	position: relative;
	text-transform: capitalize;
}
/*.playlist h2:after {
	content: "";
	display: block;
	background: #ddd;
	position: absolute;
	bottom: -8px;
	left: 0;
	height: 2px;
	width: 80%;
	margin: 0 10%;
}*/
.playlist a * {
	position: relative;
	z-index: 2;
}
.playlist a img, .playlist a .img {
	// opacity: .25;
	border-radius: 3px;
	position: absolute;
	display: block;
	top: -10%;
	left: -10%;
	width: 120%;
	// min-height: 300px;
	// transition: all .25s ease-in-out;
	z-index: 3;
}
// .playlist a .img {
// 	background: url(../images/vinyls.jpg) no-repeat;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	opacity: .65;
// }
.playlist p {
	color: #999;
	margin: 1em 0 0;
	line-height: 1.2;
}
.playlist small {
	color: #ccc;
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
}
.playlist:hover a {
	// border-radius: 5px;
}
.playlist:hover img, .playlist:hover .img {
	// transform: scale(0);
	display: none;
}
.playlist:hover {
	z-index: 5;
}
.playlist:hover a, .playlist.done a {
	background: #040407;
	color: #ee7873;
	transform: scale(1.1);
}
.playlist:hover:before {
	transform: scale(1.1);
	right: -40px;
}
.playlist.done {
	opacity: 0;
}
.playlist .no-b {
	box-shadow: none;
}
.playlist:active a {
	/*transition: all 0 ease-in-out;*/
	transform: scale(.95);
}
.playlist:active:after, .playlist:active:before {
	display: none;
}
.playlist:active > div {
	box-shadow: none;
}
.playlist:hover h2:after {
	display: none;
}
.playlist:hover p, .playlist:hover small, .playlist:hover strong {
	color: white;
}
/*.playlist:hover small, .playlist:hover strong {
	color: #999;
}*/

// ---- new playlist
.img img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	z-index: 1;
}
.plst {
	border-radius: 3px;
	box-shadow: 0 0 0 2px #323232, 0 0 0 6px white;
	margin: auto;
	max-width: 300px;
	overflow: hidden;
	position: relative;
}
.plst:hover {
	box-shadow: 0 0 0 2px #323232, 0 0 0 6px #7dccad;
}
.plst:active {
	top: 1px;
}
.plst:active .dets {
	background: #040407;
}
.plst:active img {
	opacity: .75;
}
.plst + .plst {
	margin-top: 3rem;
}
.dets {
	background: rgba(0,0,0,0.25);
	padding: 1.5rem;
	// position: absolute;
	// left: 0;
	// bottom: 0;
	// z-index: 2;
}
.dets * {
	margin: 0;
}
.plst a {
	text-decoration: none;
}
.dets h2 {
	color: #ee7873;
	margin-bottom: .5rem;
	text-transform: capitalize;
}
.dets h2:after {
	content: ".";
}
.dets p, .dets strong {
	color: white;
	line-height: 1.2;
}