.playlist-wrap {
	padding: 2em 2em 4em;
}
.playlists {
	// margin: 1em auto 0;
	// max-width: 1100px;
	// padding: 0 2em 2em;
	text-align: center;
	+ .playlists {
		margin-top: 3rem;
		padding-top: 2rem;
	}
}
.playlists > h2 {
	// text-transform: uppercase;
	letter-spacing: -.25px;
	font-size: 1rem;
	margin-bottom: 2rem;
}
.playlists > h2 small {
	display: block;
	font-size: .85rem;
	padding-top: 1rem;
	text-transform: none;
}
.playlists span {
	color: #fdebcb;
}
.playlist {
	display: inline-block;
	padding: 1em;
	position: relative;
	width: 275px;
	margin-left: auto;
	margin-right: auto;
}
.playlist > div, .playlist a {
	background: #040407;
	// box-shadow: 0 0 0 2px #040407;
	// border-radius: 2px;
	display: table;
	height: 250px;
	width: 100%;
}
.playlist a {
	// background: #7dccad;
	border: 0;
	// border-radius: 2px;
	box-shadow: none;
	color: #040407;
	display: table-cell;
	overflow: hidden;
	padding: 2em;
	position: relative;
	/*transition: all .125s ease-in-out;*/
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	z-index: 3;
}
.playlist:after {
	content: "";
	background: rgba(0,0,0,0.125);
	border-radius: 100%;
	display: block;
	height: 3px;
	margin: -1em 7% 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 86%;
	z-index: 2;
}
// .playlist:before {
// 	content: "";
// 	background: url(../images/lp.jpg) no-repeat;
// 	background-size: contain;
// 	border-radius: 100%;
// 	display: block;
// 	height: 230px;
// 	overflow: hidden;
// 	position: absolute;
// 	bottom: 20px;
// 	right: -5px;
// 	transition: right .15s ease-in-out;
// 	width: 230px;
// 	z-index: 1;
// }
.playlist h2 {
	display: inline-block;
	line-height: 1;
	margin: 0;
	position: relative;
	text-transform: capitalize;
}
/*.playlist h2:after {
	content: "";
	display: block;
	background: #ddd;
	position: absolute;
	bottom: -8px;
	left: 0;
	height: 2px;
	width: 80%;
	margin: 0 10%;
}*/
.playlist a * {
	position: relative;
	z-index: 2;
}
.playlist a img, .playlist a .img {
	// opacity: .25;
	border-radius: 3px;
	position: absolute;
	display: block;
	top: -10%;
	left: -10%;
	width: 120%;
	// min-height: 300px;
	// transition: all .25s ease-in-out;
	z-index: 3;
}
// .playlist a .img {
// 	background: url(../images/vinyls.jpg) no-repeat;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	opacity: .65;
// }
.playlist p {
	color: #999;
	margin: 1em 0 0;
	line-height: 1.2;
}
.playlist small {
	color: #ccc;
	position: absolute;
	bottom: 1.5em;
	right: 1.5em;
}
.playlist:hover a {
	// border-radius: 5px;
}
.playlist:hover img, .playlist:hover .img {
	// transform: scale(0);
	display: none;
}
.playlist:hover {
	z-index: 5;
}
.playlist:hover a, .playlist.done a {
	background: #040407;
	color: #ee7873;
	transform: scale(1.1);
}
.playlist:hover:before {
	transform: scale(1.1);
	right: -40px;
}
.playlist.done {
	opacity: 0;
}
.playlist .no-b {
	box-shadow: none;
}
.playlist:active a {
	/*transition: all 0 ease-in-out;*/
	transform: scale(.95);
}
.playlist:active:after, .playlist:active:before {
	display: none;
}
.playlist:active > div {
	box-shadow: none;
}
.playlist:hover h2:after {
	display: none;
}
.playlist:hover p, .playlist:hover small, .playlist:hover strong {
	color: white;
}
/*.playlist:hover small, .playlist:hover strong {
	color: #999;
}*/

// ---- new playlist
.img img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	z-index: 1;
}
.plst {
	border-radius: 3px;
	box-shadow: 0 0 0 2px #323232, 0 0 0 6px white;
	margin: auto;
	max-width: 300px;
	overflow: hidden;
	position: relative;
	&.hide {
		display: none;
	}
}
.plst:hover {
	box-shadow: 0 0 0 2px #323232, 0 0 0 6px #7dccad;
}
.plst:active {
	top: 1px;
}
.plst:active .dets {
	background: #040407;
}
.plst:active img {
	opacity: .75;
}
.plst + .plst {
	margin-top: 3rem;
}
.dets {
	background: rgba(0,0,0,0.25);
	padding: 1.5rem;
	// position: absolute;
	// left: 0;
	// bottom: 0;
	// z-index: 2;
}
.dets * {
	margin: 0;
}
.plst a {
	text-decoration: none;
}
.dets h2 {
	color: #ee7873;
	margin-bottom: .5rem;
	text-transform: capitalize;
}
// .dets h2:after {
// 	content: ".";
// }
.dets p {
	color: #6b6b6b;
	line-height: 1.2;
}
.dets strong {
	color: white;
	line-height: 1.2;
}

#search-form {
	background: rgba(0,0,0,0.75);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	&.show {
		display: table;
	}
	div {
		display: table-cell;
		height: 100%;
		padding: 1rem;
		width: 100%;
		vertical-align: middle;
	}
	form {
		// background: white;
		border: 0;
		border-radius: 3px;
		margin: auto;
		max-width: 30rem;
		overflow: hidden;
		padding: 0;
		// padding: 1rem;
	}
	fieldset {
		border: 0;
	}
	label {
		display: block;
		position: relative;
	}
	span {
		display: none;
	}
	input {
		box-sizing: border-box;
		background: white;
		border: 0;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		font-size: 2rem;
		line-height: 1;
		margin: auto;
		max-width: 30rem;
		outline: none;
		padding: 1.5rem;
		-webkit-appearance: none;
		width: 100%;
		&:focus {
			box-shadow: 0 0 0 3px #323232, 0 0 0 6px #ee7873;
		}
	}
	p {
		color: white;
		margin-top: 1rem;
		text-align: center;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.biggie {
		font-size: 1.5rem;
		// font-family: 'proxima-nova-semi', sans-serif;
		// font-weight: normal;
	}
	a {
		background: #ee7873;
		border-radius: 2px;
		color: white;
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		padding: .5rem;
		&:active {
			background: darken(#ee7873, 20%);
		}
		// text-decoration: underline;
		// &:after {
		// 	content: "\266b";
		// }
	}
	.cls, .clr {
		color: white;
		display: inline-block;
		font-family: sans-serif;
		&:before {
			content: "\2715";
		}
		&:active {
			opacity: .5;
		}
	}
	.clr {
		color: #323232;
		cursor: pointer;
		display: none;
		font-size: 1.5rem;
		position: absolute;
		right: 1.25rem;
		top: 1.75rem;
		z-index: 101;
		&.show {
			display: inline-block;
		}
	}
	.cls {
		cursor: pointer;
		font-size: 2rem;
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 10;
	}
}
#mbl-srch {
	cursor: pointer;
	display: block;
	background: rgba(0,0,0,0.75);
	color: white;
	padding: .5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 102;
	&:active {
		color: rgba(255,255,255,0.75);
	}
	&.hide {
		display: none;
	}
}