@media screen and (min-width: 75em){

// body {
// 	padding: 2em;
// }
header {
	padding: 4em 0;
}
.playlists {
	max-width: 1200px;
	padding: 0 0 2em;
}

}

@media screen and (max-width: 20em){

.playlist {
	width: 100%;
}

}
