@media screen and (min-width: 40em){

.plst {
	max-width: 350px;
}

}

@media screen and (min-width: 44em){

#mbl-srch {
	display: none;
}
#notification {
	text-align: left;
	.cls {
		cursor: pointer;
		display: inline-block;
		float: right;
		position: relative;
		top: -.5rem;
		right: .25rem;
	}
}

header {
	margin: 0;
	position: fixed;
	top: 5.5em;
	right: 1.5em;
	z-index: 2;
}
.logo {
	margin-top: 0;
}
.playlist-wrap {
	padding: 4rem;
}
.playlists {
	text-align: left;
}
.plst {
	max-width: 30em;
	margin: 0;
}
.plst + .plst {
	margin-top: 4rem;
}
.img {
	float: left;
	max-width: 300px;
	margin-right: 1.5rem;
}
.dets {
	height: 300px;
	text-align: left;
}
.dets p {
	position: absolute;
	bottom: 1.5rem;
	right: 1.5rem;
	width: 27%;
	text-align: right;
}
h4, h5 {
	text-align: left;
}

}

@media screen and (min-width: 49em){

.plst {
	max-width: 35em;
}
.dets p {
	width: 40%;
}

}

@media screen and (min-width: 55em){

.plst {
	max-width: 40em;
}
.dets p {
	width: 50%;
}

}

@media screen and (max-width: 20em){

.playlist {
	width: 100%;
}

}
