* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after, .clr {
    clear: both;
}

html, body {
	background: #323232;
	color: #949d99;
	font: normal 100%/1.5 'proxima-nova-regular', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
}
// body {
// 	padding: 2em 2em 4em;
// }
strong {
	font-family: 'proxima-nova-semi', sans-serif;
	font-weight: normal;
}
h1, h2, h3, h4, h5, p {
	font-weight: normal;
	margin: 0 0 15px;
}
h1, h2 {
	line-height: 1.2;
}
strong {
	color: #040407;
}
a {
	color: #ee7873;
}
h4 {
	letter-spacing: -.25px;
	padding-top: 2em;
	text-align: center;
}
h4 strong {
	color: white;
	font-weight: normal;
}
h5 {
	letter-spacing: -.25px;
	margin-bottom: 0;
	padding-top: .75em;
	text-align: center;
}
.hide {
	display: none;
}